

<div class="wrapper">
	<h2>Latest Jobs</h2>

	<ul id="jobs-list">

	<% @jobs.each do |job| %>

		<li>
			<%= link_to job_path(job) do %>
				<%= job.title %><span> at <%= job.company %></span> 

			<% end %>
			<small><%= time_ago_in_words job.created_at %> ago</small>
		</li>

	<% end %>

	</ul>
</div>