
<div class="wrapper">
	
	<h1>Post a job</h1>

	<p>For a limited time, posting a job on here will be free. It's as simple as filling out this form. We'll then check it through and get it live within 24 hours.</p>

	
	<%= render "form" %>
</div>