
<div class="wrapper">

	<h1>A place for designers in London</h1>

	<p>There are already so many great jobs boards around. But we are the only one that specialises in design jobs, in London. Design Jobs LDN was conceived of and developed by designers based in London. We have experienced the job hunt as well as hiring designers in London, so wanted to attempt to make both easier.</p>


</div>