
<div class="wrapper">

	<div class="header">
		<h1>A place for designers in London</h1>
	</div>

	<div class="desc">
		<p>Design Jobs LDN, is a jobs board specifically for design jobs in London. We want to become the place where designers look to find the job they’re after. </p>

		<h3>Our mission</h3>
		<p>There are plenty of jobs boards already out there, but we are the first to be for just designers in London. </p>

		<h3>The cost</h3>
		<p>We believe posting for a job shouldn't cost hundreds of pounds. We pride ourselves on being just £50 per post. And for a limited time, whilst we’re getting our name out there, you can post your job for FREE.</p> 

		<h3>Who we are</h3>
		<p>DJL was started by designers who have experience both the search for jobs, as well as the hunt for new hires. We know that on either side, it can be tough. We hope that to make it easier for both.</p>
	</div>


</div>