
<div class="wrapper">

	<div class="header">
		<h1>A place for designers in London</h1>
	</div>

	<div class="desc">
		<p>Design Jobs LDN is a jobs board specifically for designers in London. We want to become the place where designers find the job they’re after.</p>

		<h3>Our mission</h3>
		<p>There are plenty of jobs boards out there, but we are the first for designers in London only.</p>

		<h3>The cost</h3>
		<p>We believe listing a job shouldn't cost hundreds of pounds. We pride ourselves on being just £50 per post. And for a limited time, whilst we’re getting our name out there, you can post your job for FREE.</p> 

		<h3>Who we are</h3>
		<p>DJL was started by designers who have experience both searching for jobs, as well as hunting for new hires. We know that either side can be tough. We hope to make it easier for both.</p>

		<h3>Contact</h3>
		<p>Feel free to get in touch on <a href="mailto:hello@designjobsldn.com">hello@designjobsldn.com</a>, with any questions or comments.</p>
	</div>


</div>