
<div class="wrapper">
	
	<div class="header">
		<h1>Coming soon</h1>
	</div>
	<div class="desc">
		<p>We're creating an amazing way for freelancers to search for and find projects. We'll be launching this real soon, so leave you're email below if you'd like to stay informed.</p>
	</div>

</div>
