
<div class="wrapper">
	
	<div class="header">
		<h1>London based freelancers</h1>
	</div>
	<div class="desc">
		<p>We're building a list of the best London based freelance designers. So, when you need a bit of extra help on your next project, you know where to come.</p>
		<p>Are you a freelance designer in London? Want to be on the list? Email us at <a href="mailto:hello@designjobsldn.com">hello@designjobsldn.com</a></p>
	</div>



</div>

