


body {
	color: #30353b;
	font-family: "europa", sans-serif;
	font-size: 16px;
	height: 100%;
	background: #fff;
	line-height: 1.4;
	font-weight: 300;
}

h1 {
	font-size: 2.5em;
	margin: 90px 0 20px;
	font-weight: 600;
}

h1 span {
	font-weight: 300;
}

h2 {
	font-weight: 500;
	margin: 25px 0 10px;
	text-transform: uppercase;
}

h3 {
	font-size: 1.4em;
	font-weight: 500;
}

p {
	margin-bottom: 2em;
	line-height: 1.8;
}

.desc p,
.desc ul,
.desc ol {
	font-size: 1.4em;
}

.desc ul {
	list-style-type: disc;
}

em {
	font-style: italic;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

a.button {
    background-color: $blue;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff !important;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border:none;
    padding: 20px;
    margin: 30px 0 60px;
    font-weight: 500;
    border-bottom: none !important;
}

a.button:hover {
	border-bottom: none !important;
}


header {
	width: 30%;
	height: 100%;
	float: left;
	padding: 40px;
	background: $blue;
	overflow-y: hidden;
	position: fixed;
	color: #ffffff;
}

header #logo {
	width: 230px;
	height: 62px;
	display: block;
	margin-bottom: 40px;
}

header #logo a {
	background-image: url('/assets/designjobsldn.png');
	width: 100%;
	height: 100%;
	display: block;
	text-indent: -9999px;
}

header h1 {
	font-size: 1.4em;
	margin: 0 0 40px;
}


nav ul li a {
	display: block;
	padding: 10px 0;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
}

nav ul li a:hover,
nav ul li a.selected {
	color: #30353b;
}

nav ul li.small a {
	text-transform: capitalize;
}

nav ul li.twitter a {
	width: 30px;
	height: 25px;
	display: block;
	background-image: url('/assets/twitter.png');
	text-indent: -9999px;
	margin-top:20px;
}



.cta {
	margin: 20px 0 10px;
}

.cta a {
    background-color: $blue;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff !important;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border:none;
    padding: 20px;
    margin: 30px 0 60px;
    font-weight: 500;
    border-bottom: none !important;
 }

.cta a.button:hover {
	border-bottom: none !important;
	color: #30353b;
}

.wrapper {
	padding: 0 80px;
}

div.error, 
div.success {
 width: 100%;
 color: #fff;
 padding: 15px;
 margin: 30px 0;
}
div.error {
 background: #EA6363;
}
div.success {
  background: #689f69;
}

div.error p, 
div.success p {
	margin-bottom: 0;
}



.back {
	font-size: 16px;
	margin-top: 0px;
	height: 62px;
	position: absolute;
}

.back a {
	color: #aaa;
	height: 100%;
	display: inline-block;
	background-color: #fafafa;
	padding: 20px 15px 0; 
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}

#content {
	width: 70%;
	float: right;
	padding-top: 40px;
	height: 100%;
	overflow-y: hidden;
}

#content a {
	color: $blue;
	border-bottom: 2px solid #fff;
}

#content a:hover {
	color: $blue;
	border-bottom: 2px solid $blue;
}




.header {
	margin-bottom: 0;
}

.footer {
	margin: 60px 0;
	padding: 80px 0 60px;
	border-top: 1px solid #aaa;
	overflow: hidden;
}

.footer div {
	width: 50%;
	float: left;
}

.meta {
	color: #aaa;
	font-size: 18px;
}



@media only screen and (max-width: 1000px) {


header {
	width: 100%;
	height: 102px;
	padding: 20px;
	background: $blue;
	overflow-y: hidden;
	position: fixed;
	color: #ffffff;
}

header h1 {
	display: none;
}

#content {
	width: 100%;
	float: none;
	margin: 0 auto;
	padding-top: 162px;
	height: 100%;
	overflow-y: hidden;
}



header #logo {
	width: 230px;
	height: 62px;
	display: inline-block;
	float: left;
	margin-bottom: 60px;
}


nav {
	float:left;
	margin-left: 20px;
	padding-top: 10px;
}

nav ul li {
	float:left;
	margin-right: 15px;
}

nav ul li a {
	display: block;
	padding: 10px 0;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
}

nav ul li a:hover,
nav ul li a.selected {
	color: #30353b;
}
.wrapper {
	padding: 0 20px;
}


}

@media only screen and (max-width: 700px) {

header {
	width: 100%;
	height: 162px;
	padding: 20px;
	background: $blue;
	overflow-y: hidden;
	position: fixed;
	color: #ffffff;
}

header #logo {
	margin-bottom: 10px;
	float:none;
}

nav {
	float:none;
	margin-left: 0;
	padding-top: 10px;
}

nav ul li {
	float:left;
	margin-right: 10px;
}



}

