// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#jobs-list {
}

ul#jobs-list li {
	font-size: 1em;
	padding: 40px 0;
	margin: 0;
}

ul#jobs-list li a {
	color: #3b3b3b;
	font-size: 2em;
	margin: 40px 0 20px;
	font-weight: 600;
}

ul#jobs-list li a span {
	font-weight: 300;
	display: block;
}



ul#jobs-list li a:hover {
	border-bottom: #fff;
}


ul#jobs-list li small {
	float: left;
	margin-top: 17px;
	color: #aaa;
}






form {
	width: 100%;
}

form p {
	width: 75%;
	float: right;
	font-size: 14px;
	color: #aaa;
}

div.input {
	padding: 10px 0;
	overflow: hidden;
	clear: both;
}

label {
	width: 25%;
	padding-top: 17px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
}

input,
textarea {
	width: 75%;
	float: right;
	padding: 15px 10px;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    border: 1px solid #ddd;
}

textarea {
	height: 300px;
}

input:focus,
textarea:focus { 
	outline: none;
    background-color: lighten($blue, 40% );
    border: 1px solid $blue;
}

.submit input {
    background-color: $blue;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border:none;
    padding: 15px;
    margin: 30px 0 60px;
    font-weight: 500;
}

.mc-field-group {
	display: block;
	margin-bottom: 38px;
}

#mc_embed_signup {
	margin-top: 60px;
}




@media only screen and (max-width: 700px) {


}




@media only screen and (max-width: 700px) {



ul#jobs-list li {
	font-size: 1em;
	padding: 20px 0;
	margin: 0;
}

ul#jobs-list li small {
	display: none;
}

form p {
	width: 100%;
	float: left;
}


label {
	width: 100%;}

input,
textarea {
	width: 100%;
	float: left;
}


}


